<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/entretenimento" style="background-color:  rgb(117, 14, 14)">
            <ion-icon name="arrow-round-back" style=color:#ffffff></ion-icon>
          </ion-button>
          </ion-buttons>
    <ion-title>
       <p style=color:#ffffff >Jogos</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <iframe width="400" height="215" src="https://www.youtube.com/embed/g-ULNybt0iA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4 style=color:#ffffff>Como jogar detetive policia e ladrão</h4>
  </ion-content>
